.card {
    background-color: #fff;
    border-radius: 3px;
    box-shadow: 0px 4px 10px 0px rgba(0, 0, 0, 0.1);
    padding: 1rem;
    padding-bottom: 1.5rem;
    width: 14rem;
    height: 15rem;
    // width: 100%;
    margin-right: 4rem;
    @include breakpoint(medium up) {
        height: 100%;
    }
}
.card__icon {
    text-align: center;
    margin-bottom: 1rem;
    height: 3.7rem;
    display: flex;
    align-items: center;
    justify-content: center;
    img {
        height: 100%;
        width: auto;
    }
}
.card__title {
    text-align: center;
    font-size: 0.8em;
    font-weight: $fw-bold;
    text-transform: uppercase;
    letter-spacing: 0.1em;
    margin-bottom: 0.5rem;
}
.card__copy {
    text-align: center;
    line-height: 1.4;
    color: $darkGray;
}
.card__avatar {
    position: relative;
    display: inline-block;
    margin-bottom: 2rem;
    > img {
        border-radius: 100%;
        box-shadow: 0px 0px 15px 0px rgba(61, 129, 165, 0.2);
        &:nth-child(2) {
            position: absolute;
            width: 70%;
            top: 0;
            left: 0;
            transform: translate(-60%, -30%);
        }
    }
}

.card--process {
    margin: 0;
    display: inline-block;
    height: auto;
    .card__icon img {
        border-radius: 100%;
        box-shadow: 0px 0px 9px 0px rgba(0, 0, 0, 0.1);
    }
}
.card--avatar {
    width: 100%;
    text-align: center;
    padding-top: 4rem;
    padding-bottom: 2rem;
    z-index: 1;
    position: relative;
    .card__icon {
        position: absolute;
        height: 1.5rem;
        margin: 0;
        bottom: 0;
        right: 0rem;
    }
}
.card--line:after {
    content: "";
    position: absolute;
    height: 10px;
    width: calc(50% + 1rem);
    background-image: radial-gradient(at center center, #72D5C6 30%, rgba(255, 255, 255, 0) 0%);
    background-position: top;
    background-size: 10px 10px;
    background-repeat: repeat-x;
    top: 50%;
    z-index: -1;
    transform-origin: right;
}
.card--line-second:after {
    left: -1rem;
    transform-origin: left;
}

.card--small {
    width: 10rem;
}

.card--pink {
    .card__title {
        color: $pink;
    }
}
.card--blue {
    .card__title {
        color: $brightBlue;
    }
}
.card--gold {
    .card__title {
        color: $gold;
    }
    .card__icon img {
        height: 80%;
    }
}
.card--green {
    .card__title {
        color: $green;
    }
}
