$headerHeight: 4rem;
.hero {
    height: calc(65vh - #{$headerHeight});
    max-height: 20rem;
    background-image: url('/static/img/hero.jpg');
    background-size: cover;
    background-position: center;
    padding-top: 1rem;
    padding-bottom: 1rem;

    @include breakpoint(medium up) {
        max-height: none;
        height: calc(90vh - #{$headerHeight});
        padding-top: 4rem;
        padding-bottom: 8rem;
    }
    @include breakpoint(large up) {
        padding-bottom: 6rem;
    }
}

.hero__heading {
    @extend %alpha;
    font-size: 1.25em;
    @include breakpoint(medium up) {
        font-size: 2.5em;
    }
    @include breakpoint(large up) {
        font-size: 2em;
    }
    @include breakpoint(xlarge up) {
        font-size: 2.5em;
    }
}
