.highlight {
    // position: relative;
    margin-bottom: 2rem;
}
.highlight__image {
    img {
        width: 100%;
    }
    margin-bottom: 1rem;
    width: 75%;
    @include breakpoint (large up) {
        width: 85%;
    }
    display: inline-block;
}
.highlight__line {
    position: absolute;
    width: 2px;
    height: 200%;
    bottom: 0;
    background-color: $fadedBlue;
    left: 1rem;

    // transform: scaleY(0);
    transform-origin: top;
    transition: transform 0.2s;
    @include breakpoint (large up) {
        height: 250%;
    }
}
.highlight__caption {
    position: relative;
    color: $lightGray;
    padding-left: 2rem;
    padding-right: 2rem;
    // max-width: 20rem;
    width: 18rem;
    @include breakpoint (large up) {
        left: 4rem;
        padding-top: 2em;
    }
}


.highlight--right {
    text-align: right;
    @include breakpoint (large up) {
        transform: translateY(-12rem);
        margin-bottom: -12rem;
            // max-width: 75rem;
            // margin-left: auto;
            // margin-right: auto;
            // display: -webkit-flex;
            // display: -ms-flexbox;
            display: flex;
            // -webkit-flex-flow: row wrap;
            // -ms-flex-flow: row wrap;
            flex-flow: row wrap;
    }
    .highlight__image {
        @include breakpoint (large up) {
            margin-bottom: 0;
            width: 100%;
        }
    }
    .highlight__caption {
        text-align: left;
        padding-left: 1rem;
        left: 0;
        display: inline-block;
        // @include breakpoint (large up) {
        //     width: 23%;
        //     display: inline-block;
        // }
        // @include breakpoint (large up) {
        //     transform: translateY(-100%);
        // }
    }
    .highlight__line {
        height: 2px;
        // 3 = 2rem - 1rem
        width: calc(100% - 3rem);
        top: -2rem;
        bottom: auto;
        transform-origin: left;
        @include breakpoint (large up) {
            width: calc(150%);
            top: 1rem;
        }
    }
}
