//TODO: styles needlessly duplicative
.section {
    background-size: cover;
    padding-top: 2rem;
    padding-bottom: 2rem;
    @include breakpoint(medium up) {
        padding-top: 4rem;
        padding-bottom: 4rem;
    }
    @include breakpoint(large up) {
        padding-top: 6rem;
        padding-bottom: 6rem;
    }
}
.section__heading {
    margin-bottom: 2rem;
    @include breakpoint(medium up) {
        margin-bottom: 4rem;
    }
}

.section--highlight {
    padding-top: 1rem;
    @include breakpoint(large up) {
        padding-top: 0rem;
        transform: translateY(-1rem);
    }
}

.section--collection {
    padding-top: 2rem;
    padding-bottom: 115%;
    background-color: #fff;
    background-image: url('/static/img/computer-lady.jpg');
    background-size: 150%;
    background-repeat: no-repeat;
    background-position: bottom center;
    @include breakpoint(large up) {
        // background-position: center left;
        background-image: none;
        padding-bottom: 0;
        // background-size: 60%;
        // padding-bottom: 30%;
        // max-height: 700px;
        .section__bg {
            // flex: 0 0 50%;
            // max-width: 50%;
            // align-self: center;
            transform: translateY(3px);
        }
    }
}

.section--features {
    background-image: url('/static/img/group-desk-gradient.jpg');
    padding-top: 2rem;
    padding-bottom: 2rem;
    @include breakpoint(medium up) {
        padding-top: 4rem;
        padding-bottom: 4rem;
    }
    @include breakpoint(large up) {
        padding-top: 6rem;
        padding-bottom: 6rem;
    }
}

.section--process {
    // background-image: linear-gradient(to bottom, #FFFFFF 0%, #E1F1F2 20%, #E1F1F2 81.3347%, #FFFFFF 100%);
    background-image: linear-gradient(to bottom, #FFFFFF 0%, $skyBlue 20%, $skyBlue 100%);
    z-index: -1;
    padding-top: 2rem;
    // padding-bottom: 2rem;
    @include breakpoint(large up) {
        min-height: 100vh;
        padding-top: 8rem;
        padding-bottom: 8rem;
        position: relative;
        // background-image: linear-gradient(to bottom, #FFFFFF 0%, #E1F1F2 20%, #E1F1F2 81.3347%, #FFFFFF 100%);
        background-image: linear-gradient(to bottom, #FFFFFF 0%, $skyBlue 20%, $skyBlue 81.3347%, #FFFFFF 100%);
    }
    @include breakpoint(xlarge up) {
        min-height: 80vh;
        padding-top: 12rem;
        padding-bottom: 12rem;
    }
}

.section--business {
    background-color: #fff;
    // background-image: linear-gradient(to bottom, #FFFFFF 0%, #E1F1F2 100%);
}

.section--simplify {
    background-image: linear-gradient(to right, $purple 0%, $pink 100%);
}
