.alpha, %alpha {
    font-size: 2.5em; //50px
    font-weight: $fw-light;
}
.beta, %beta {
    font-size: 1.25em;
    font-weight: $fw-extrabold;
    color: $darkGray;
    line-height: 1.4;
    margin-bottom: 0.25em;
    @include breakpoint(medium up) {
        // font-size: 2.43em; //50px
        font-size: 2.33em; //smaller than design but works a bit better
    }
}
.gamma, %gamma {
    font-size: 0.9em; //18px
    color: $fadedBlue;
    @include breakpoint(medium up) {
        font-size: 1.1em; //22px
    }
}
.delta, %delta {
    font-size: 0.8em;
    font-weight: $fw-bold;
    text-transform: uppercase;
    letter-spacing: 0.1em;
}
.epsilon, %epsilon {

}
.zeta, %zeta {

}
.copy, %copy {
    font-size: 0.75em;
    color: $lightGray;
    margin-bottom: 1em;
    @include breakpoint(medium up) {
        font-size: 1em; //22px
    }
}
.caption, %caption {
    font-size: 0.8em; //16px
    line-height: 1.375;
}
.annotation, %annotation {
    font-size: 0.5em;
    color: $lightGray;
}
