<!DOCTYPE html>
<html lang="en">
    <head>
      <meta charset="utf-8">
      <meta http-equiv="X-UA-Compatible" content="IE=edge">
      <meta name="apple-mobile-web-app-capable" content="yes">
      <meta name="viewport" content="width=device-width, initial-scale=1.0">
      <link rel="stylesheet" type="text/css" href="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/3.3.7/css/bootstrap.min.css">
      <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.1.1/jquery.min.js"></script>
      <script src="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/3.3.7/js/bootstrap.min.js"></script>

      <!-- SEO Meta Data -->
      <title>Matter - Apply</title>
      <style>
        body {
          margin: 0px;
          background: #E8EDF0;
        }
        .bg-top {
          position: relative;
          background: #ffb829;
          height: 200px;
          width: 100%;
        }

        .container {
          position: relative;
          background: white;
          width: 800px;
          max-width: 730px;
          z-index: 99;
          margin-top: -150px;
          margin-right: auto;
          margin-left: auto;
          padding: 10px 30px;
        }

        .modal-dialog {
          width: 800px;
        }

        form input {
          width: 250px;
        }

        .field-name {
          height: 26px;
          width: 100px;
          float: left;
          text-align: right;
          margin-right:10px;
        }

        .form-row {
          margin-top: 15px;
        }

        .form-submit {
          background: #F6BA4C;
          color: black;
        }

        .form-submit:hover {
          text-decoration: underline;
        }

        .form-group .col-md-8 {
          margin-bottom: 10px;
        }

        .form-group .form-control {
          width: 300px;
        }

        .form-horizontal {
          margin-top:30px;
        }
      </style>

    </head>
    <body>
      <div class='bg-top'></div>
      <div class='container'>
        <div class='row'> 
          Matter
        </div>
        <div class='row'>
          <h3>Get your own Diversity Dashboard</h3>
        </div>
        <div class='row'>
          <h4>Matter is launching soon with a few partners.</h4>
          <h4>Tell us about yourself and we'll reach out.</h4>
        </div>
        <div class='row'>
          <div class='row'>
            <form class='form-horizontal' action='/apply' method="POST">
              <input type="hidden" name="_csrf" value="<%= csrfToken %>">
              <fieldset>
                <div class='col-md-2'></div>
                <div class='col-md-10'>

                  <div class="form-group">
                    <label class="col-md-3 control-label" for="name">Your Name</label>
                    <div class="col-md-8">
                      <input id="name" name="name" type="text" class="form-control input-md">
                    </div>
                  </div>

                  <div class="form-group">
                    <label class="col-md-3 control-label" for="name">Your Email</label>
                    <div class="col-md-8">
                      <input id="email" name="email" type="text" class="form-control input-md">
                    </div>
                  </div>

                  <div class="form-group">
                    <label class="col-md-3 control-label" for="name">Your Company</label>
                    <div class="col-md-8">
                      <input id="company" name="company" type="text" class="form-control input-md">
                    </div>
                  </div>


                  <div class="form-group">
                    <label class="col-md-3 control-label" for="name">Your Website</label>
                    <div class="col-md-8">
                      <input id="website" name="website" type="text" class="form-control input-md">
                    </div>
                  </div>

                  <!-- Multiple Checkboxes -->
                  <div class="form-group">
                    <label class="col-md-3 control-label" for="checkboxes">What's your biggest Diversity and Inclusion goal of the next year?</label>
                    <div class="col-md-8">
                      <div class="checkbox">
                        <label for="checkboxes-0">
                          <input type="checkbox" name="goals" id="checkboxes-0" value="Increase visibility to data">
                          Increase visibility to data
                        </label>
                      </div>
                      <div class="checkbox">
                        <label for="checkboxes-1">
                          <input type="checkbox" name="checkboxes" id="checkboxes-1" value="Improve hiring practices">
                          Improve hiring practices
                        </label>
                      </div>
                      <div class="checkbox">
                        <label for="checkboxes-2">
                          <input type="checkbox" name="checkboxes" id="checkboxes-2" value="Building buy-in for D&I">
                          Building buy-in to improve Diversity and Inclusion
                        </label>
                      </div>
                      <div class="checkbox">
                        <label for="checkboxes-3">
                          <input type="checkbox" name="checkboxes" id="checkboxes-3" value="Reducing Employee Churn">
                          Reducing Employee Churn
                        </label>
                      </div>
                      <div class="checkbox">
                        <label for="checkboxes-4">
                          <input type="checkbox" name="checkboxes" id="checkboxes-4" value="Other">
                          Other
                        </label>
                      </div>
                    </div>
                  </div>

                  <div class="form-group">
                    <label class="col-md-3 control-label" for="name">Notes</label>
                    <div class="col-md-8">
                      <textarea placeholder="Feel free to share any thoughts about Matter" class="form-control" id="thoughts" name="thoughts"></textarea>
                    </div>
                  </div>

                  <div class="form-group">
                    <div class="col-md-3 control-label"></div>
                    <div class="col-md-8">
                      <button type="submit" class="form-submit btn btn-lg"> Submit my info </button>
                    </div>
                  </div>
                </div>
              </fieldset>
            </form>
          </div>
        </div>
      </div>
    </body>
</html>
