<!DOCTYPE html>
<html lang="en">
    <head>
      <meta charset="utf-8">
      <meta http-equiv="X-UA-Compatible" content="IE=edge">
      <meta name="apple-mobile-web-app-capable" content="yes">
      <meta name="viewport" content="width=device-width, initial-scale=1.0">
      <link href='https://fonts.googleapis.com/css?family=Open+Sans:400,300italic,300,400italic,600,600italic,700,700italic,800,800italic' rel='stylesheet' type='text/css'>
      <link rel="stylesheet" type="text/css" href="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/3.3.7/css/bootstrap.min.css">
      <link rel="stylesheet" type="text/css" href="css/style.css?v=1.3">
      <link rel="stylesheet" type="text/css" href="css/responsive.css?v=1.2">

      <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.1.1/jquery.min.js"></script>
      <script src="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/3.3.7/js/bootstrap.min.js"></script>

      <link rel="stylesheet" type="text/css" href="css/start.css?v=1.4">
      <!-- SEO Meta Data -->
      <title>Matter - Start</title>

    </head>
    <body>
      <div class='bg-top'></div>
      <div class='container'>
        <div class='row'> 
          <center><div class="logo"><a href="/"><img src="images/matterlogo.svg" width="150" height="35" alt="logo"></a></div></center>
        </div>
        <div class='row'>
          <h1>Get a better understanding of the diversity at your company.</h1>
        </div>
        <div class='row'>
          <p>Tell us about yourself and we'll reach out.</p>
        </div>
        <div class='row'>
          <div class='row'>
            <form class='form-horizontal' action='/start' method="POST">
              <input type="hidden" name="_csrf" value="<%= csrfToken %>">
              <fieldset>
                <div class='col-md-2'></div>
                <div class='col-md-10'>

                  <div class="form-group">
                    <label class="col-md-3 control-label" for="name">Name</label>
                    <div class="col-md-8">
                      <input id="name" name="name" type="text" class="form-control input-md">
                    </div>
                  </div>

                  <div class="form-group">
                    <label class="col-md-3 control-label" for="email">Email</label>
                    <div class="col-md-8">
                      <input id="email" name="email" type="text" class="form-control input-md">
                    </div>
                  </div>

                  <div class="form-group">
                    <label class="col-md-3 control-label" for="company">Company</label>
                    <div class="col-md-8">
                      <input id="company" name="company" type="text" class="form-control input-md">
                    </div>
                  </div>

                  <div class="form-group">
                    <label class="col-md-3 control-label" for="role">Role at Company</label>
                    <div class="col-md-8">
                      <input id="company" name="role" type="text" class="form-control input-md">
                    </div>
                  </div>

                  <div class="form-group">
                    <label class="col-md-3 control-label" for="companysize">Company Size</label>
                    <div class="col-md-8">
                      <select id="selectbasic" name="company_size" class="form-control">
                        <option value="1-50">1-50</option>
                        <option value="51-100">51-100</option>
                        <option value="101-250">101-250</option>
                        <option value="251-500">251-500</option>
                        <option value="501-1000">501-1000</option>
                        <option value="1000+">1000+</option>
                      </select>
                    </div>
                  </div>




                  <!-- Multiple Checkboxes -->
                  <div class="form-group">
                    <label class="col-md-3 control-label" for="goals">What are your company’s biggest goals for Diversity and Inclusion this year?</label>
                    <div class="col-md-8">
                      <div class="checkbox">
                        <label for="checkboxes-0">
                          <input type="checkbox" name="goals" id="checkboxes-0" value="Increase visibility to data">
                          Increase visibility to data
                        </label>
                      </div>
                      <div class="checkbox">
                        <label for="checkboxes-1">
                          <input type="checkbox" name="goals" id="checkboxes-1" value="Improve hiring practices">
                          Improve hiring practices
                        </label>
                      </div>
                      <div class="checkbox">
                        <label for="checkboxes-2">
                          <input type="checkbox" name="goals" id="checkboxes-2" value="Building buy-in for D&I">
                          Building buy-in to focus on Diversity and Inclusion
                        </label>
                      </div>
                      <div class="checkbox">
                        <label for="checkboxes-3">
                          <input type="checkbox" name="goals" id="checkboxes-3" value="Reducing employee churn">
                          Reducing Employee Churn
                        </label>
                      </div>
                      <div class="checkbox">
                        <label for="checkboxes-4">
                          <input type="checkbox" name="goals" id="checkboxes-4" value="Other">
                          Other
                        </label>
                      </div>
                    </div>
                  </div>

                  <div class="form-group hidden">
                    <label class="col-md-3 control-label" for="thoughts">Notes</label>
                    <div class="col-md-8">
                      <textarea placeholder="Feel free to share any thoughts about Matter" class="form-control" id="thoughts" name="thoughts"></textarea>
                    </div>
                  </div>

                  <div class="form-group">
                    <div class="col-md-3 control-label"></div>
                    <div class="col-md-8">
                      <button type="submit" class="form-submit btn btn-lg"> Submit my info </button>
                    </div>
                  </div>
                </div>
              </fieldset>
            </form>
          </div>
        </div>
      </div>
    </body>
</html>
