<!DOCTYPE html>
<html lang="en">
    <head>
      <meta charset="utf-8">
      <meta http-equiv="X-UA-Compatible" content="IE=edge">
      <meta name="apple-mobile-web-app-capable" content="yes">
      <meta name="viewport" content="width=device-width, initial-scale=1.0">
      <link href='https://fonts.googleapis.com/css?family=Open+Sans:400,300italic,300,400italic,600,600italic,700,700italic,800,800italic' rel='stylesheet' type='text/css'>
      <link rel="stylesheet" type="text/css" href="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/3.3.7/css/bootstrap.min.css">
      <link rel="stylesheet" type="text/css" href="css/style.css?v=<%version%>">
      <link rel="stylesheet" type="text/css" href="css/responsive.css?v=<%version%>">

      <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.1.1/jquery.min.js"></script>
      <script src="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/3.3.7/js/bootstrap.min.js"></script>

      <link rel="stylesheet" type="text/css" href="css/start.css?v=<%version%>">
      <!-- SEO Meta Data -->
      <title>Matter - Thanks</title>

    </head>
    <body>
      <div class='bg-top'></div>
      <div class='container'>
        <div class='row'> 
          <center><div class="logo"><a href="/"><img src="images/matterlogo.svg" width="150" height="35" alt="logo"></a></div></center>
        </div>
        <div class='row'>
          <h1>Thank you! We'll be in touch shortly to get you all set up. :-)</h1>
        </div>
      </div>
    </body>
</html>
