* {
    box-sizing: border-box;
    -webkit-font-smoothing: antialiased;
    -webkit-tap-highlight-color: transparent;
}
html {
    font-size: 20px;
    @include breakpoint(medium only) {
        @include breakpoint(landscape) {
            font-size: 10px;
        }
    }
}
body {
    font-family: $nunito;
}
