$pink: #E472A5;
$turq: #72D5C6;
$gold: #EEB900;
$darkTurq: #3D81A5;
$fadedBlue: #848AEE;
$blue: #333D91;
$navy: #0D243D;
$purple: #6E6EE2;
$lavender: #AFB2F5;
$darkGray: #434343;
$lightGray: #707070;
