.u-text-right {
    text-align: right;
}
.u-text-left {
    text-align: left;
}
.u-text-center {
    text-align: center;
}
.u-large-text-right {
    @include breakpoint(large up) {
        text-align: right;
    }
}
.u-text-center {
    text-align: center;
}

.u-full-height {
    height: 100%;
}
.u-full-width {
    width: 100%;
}

.u-color-white {
    color: #fff;
}

.u-flex {
    display: flex;
}
.u-relative {
    position: relative;
}

.u-hide-overflow {
    overflow: hidden;
}

// .u-small-0-padding {
//     @include breakpoint(small only) {
//         padding-left: 0;
//         padding-right: 0;
//     }
// }
