<div class="section section--collection">
    <!-- <div class="row align-right"> -->
    <div class="row">
        <div class="column small-12 large-6 align-bottom">
            <img class="section__bg show-for-large u-full-width" src="/static/img/computer-lady.jpg" alt="">
        </div>
        <div class="column small-12 large-5">
            <h2 class="beta">Matter answers all of your D&amp;I questions in one place</h2>
            <p class="copy">Whether its HRIS data or ATS data, Matter collects it all. By getting it all in one place, you can focus on understanding diversity within your company. Only then can you begin to make actionable change.</p>
            <p class="annotation">Employee Satisfaction Survey data coming soon.</p>
        </div>
    </div>
</div>
