<footer class="footer">
    <div class="row align-bottom align-justify">
        <div class="column small-12 medium-4 footer__column">
            <div class="footer__logo">
                <img src="/static/img/matter-logo.svg">
                <span class="footer__copyright js-footer-copyright"></span>
            </div>
        </div>
        <div class="column small-12 medium-4 footer__column">
            <p class="footer__statement hide-for-large">Built inclusively in<br>Berkley, DC and NYC.</p>
            <p class="footer__statement show-for-large">Built inclusively in Berkley, DC and NYC.</p>
        </div>
        <div class="column small-12 medium-4 footer__column">
            <a href="" class="link">Contact Us</a>
            <a href="" class="link">Log In</a>
        </div>
    </div>
</footer>
