<div class="section section--highlight">
    <div class="row ">
        <div class="column small-12">
            <h2 class="beta">There’s a gap in your diversity efforts.</h2>
            <h3 class="gamma mb-1r">We want to help you bridge that gap.</h3>
        </div>
        <!-- <div class="column small-8 u-small-0-padding">
            <div class="highlight">
                <div class="highlight__image">
                    <img src="/static/img/highlight-1.jpg" alt="">
                </div>
                <div class="highlight__line"></div>
                <div class="highlight__caption">
                    <h5 class="caption">
                        Executives and CEOs are often unaware of the extent that their company isn’t moving in the right direction with diversity…
                    </h5>
                </div>
            </div>
        </div> -->
        <div class="column small-10 u-small-0-padding">
            <div class="highlight">
                <div class="column small-9 u-small-0-padding">
                    <div class="highlight__image">
                        <img src="/static/img/highlight-1.jpg" alt="">
                    </div>
                </div>
                <div class="highlight__line"></div>
                <div class="highlight__caption">
                    <h5 class="caption">
                        Executives and CEOs are often unaware of the extent that their company isn’t moving in the right direction with diversity…
                    </h5>
                </div>
            </div>
        </div>
    </div>
</div>
