<div class="js-anim-process line">
    <svg version="1.1" id="Layer_1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px" viewBox="0 0 551.7 220.9" style="enable-background:new 0 0 551.7 220.9;" xml:space="preserve">
    <path class="line__solid" d="M0.4,46.7c0,0,60.4-79.1,153.6-30.2l8,7.1c0,0-122,5.2-121.2,143.4l19,7.4c0,0,65.4-96.8,143.1,4.1l18.2,9.9
        c0,0,60.4-96.8,152.3-67.9c0,0,71.2-26.5,62.9-88.5l-5-12.4c0,0-217-4.7-77,200.3c0,0,74-119,197-51"/>
    <path class="line__dashed" d="M0.4,46.7c0,0,60.4-79.1,153.6-30.2l8,7.1c0,0-122,5.2-121.2,143.4l19,7.4c0,0,65.4-96.8,143.1,4.1l18.2,9.9
        c0,0,60.4-96.8,152.3-67.9c0,0,71.2-26.5,62.9-88.5l-5-12.4c0,0-217-4.7-77,200.3c0,0,74-119,197-51"/>
    </svg>

    <div class="process">
        <!-- <div class="process__headshot"> -->
            <img class="process__headshot" src="/static/img/head-1.jpg" alt="">
        <!-- </div> -->
        <!-- <div class="process__headshot"> -->
            <img class="process__headshot" src="/static/img/head-2.jpg" alt="">
        <!-- </div> -->
    </div>
</div>
