{% macro card(classNames, headshots, copy) %}
<div class="card card--process {{classNames}}">
    <div class="card__icon">
        {% for headNum in headshots %}
          <img src="/static/img/head-{{headNum}}.jpg" alt="">
        {% endfor %}
    </div>
    <p class="card__copy">{{copy}}</p>
</div>
{% endmacro %}

<section class="section section--process">
    <div class="row align-center">
        <div class="column small-12 medium-10 large-6 u-text-center">
            <h2 class="beta">Getting the right insights too often takes a back seat.</h2>
            <h3 class="gamma mb-4r">And it’s hindered by cumbersome processes, long timelines and repeating every time you want updated data.</h3>
        </div>
        <div class="column small-12 xlarge-11 show-for-large">
            <div class="row">
                <div class="column small-12">
                    {% include "./_process-line.html" %}
                </div>
            </div>
        </div>

        <div class="column small-12 xlarge-11 hide-for-large u-text-center">
            <div class="slider slider--rolodex">
                <div class="js-card-slider">
                    {{ card('', [1], 'Ask Head of HR for HRIS data') }}
                    {{ card('', [1], 'Ask Head of HR for HRIS data') }}
                    {{ card('', [1], 'Ask Head of HR for HRIS data') }}
                    {{ card('', [1], 'Ask Head of HR for HRIS data') }}
                    {{ card('', [1], 'Ask Head of HR for HRIS data') }}
                </div>
            </div>
        </div>
    </div>
</section>
