<section class="section section--cta">
    <div class="row align-center">
        <div class="column small-12 medium-10 large-6 xlarge-7 xxlarge-6 u-text-center js-cta-stagger-hook anim--top-stagger">
            <h2 class="beta u-color-white anim__stagger-child">The world is diverse, shouldn&lsquo;t your company be too?</h2>
            <p class="copy u-color-white mb-4r anim__stagger-child">
                Besides the business value, building a more diverse and inclusive company is the right thing to do: We believe in a world where giving everyone equal opportunities to succeed should be the norm.
            </p>
            <a href="" class="button anim__stagger-child">Get your own diversity dashboard</a>
        </div>
    </div>
</section>
