{% macro billboard(title, copy, image) %}
<div class="billboard">
    <div class="row align-center align-middle">
        <div class="column small-10">
            <div class="row align-justify align-middle">
                <div class="column xlarge-5 large-6">
                    <h2 class="billboard__title">{{title}}</h2>
                    <p class="billboard__copy">{{copy}}</p>
                </div>
                <div class="column xlarge-5 large-5">
                    <div class="billboard__image">
                        <img src="/static/img/{{image}}" alt="">
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
{% endmacro %}

<section class="section section--business">
    <div class="row align-center">
        <div class="column small-10 p-0">
            <h2 class="delta u-color-lightgray">The Business of Diversity</h2>
        </div>
    </div>
    <div class="row">
        <div class="column small-12 p-0">
            <div class="slider">
                <div class="js-business-slider">
                    {{ billboard("85% of CEOs", "surveyed whose companies have a formal diversity and inclusiveness strategy said it's improved their bottom line.", "billboard-1.jpg") }}
                </div>
            </div>
        </div>
    </div>
</section>
