<div class="section section--highlight">
    <div class="row hide-for-large">
        <div class="column small-12 medium-10">
            <div class="section__heading">
                <h2 class="beta">There’s a gap in your diversity efforts.</h2>
                <h3 class="gamma">We want to help you bridge that gap.</h3>
            </div>
        </div>
    </div>

    <div class="row small-collapse medium-uncollapse">
        <div class="column small-12 large-6">
            <div class="highlight js-highlight-anim">
                <div class="highlight__image">
                    <img src="/static/img/highlight-1.jpg" alt="">
                </div>
                <div class="highlight__caption">
                    <div class="highlight__line"></div>
                    <h5 class="highlight__copy caption">
                        Executives and CEOs are often unaware of the extent that their company isn’t moving in the right direction with diversity…
                    </h5>
                </div>
            </div>
        </div>
        <div class="column small-6 show-for-large pt-4r">
            <h2 class="beta">There’s a gap in your<br>diversity efforts.</h2>
            <h3 class="gamma mb-1r">We want to help you bridge that gap.</h3>
        </div>
    </div>

    <div class="row small-collapse medium-uncollapse align-right">
        <div class="column small-12 large-12">
            <div class="highlight highlight--right js-highlight-anim">
                <div class="column small-12 large-6 small-order-1 large-order-2 p-0">
                    <div class="highlight__image">
                        <img src="/static/img/highlight-2.jpg" alt="">
                    </div>
                </div>
                <div class="column small-12 large-6 small-order-2 large-order-1 align-self-bottom u-text-left u-large-text-right">
                    <div class="highlight__caption">
                        <div class="highlight__line"></div>
                        <h5 class="highlight__copy caption">
                            Executives and CEOs are often unaware of the extent that their company isn’t moving in the right direction with diversity…
                        </h5>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
