{% macro card(avatars, icon, copy, classNames, lineClass) %}
<div class="card card--avatar {{classNames}}">
    <div class="card__avatar">
        {% for id in avatars %}
          <img src="/static/img/head-{{id}}.jpg" alt="">
        {% endfor %}
        <div class="card__icon">
            <img src=/static/img/{{icon}}.svg>
        </div>
    </div>
    <p class="card__copy">{{copy}}</p>
    <div class="card__line js-animate-line {{lineClass}}"></div>
</div>
{% endmacro %}

<section class="section section--simplify js-pin-slide-in">
    <div class="row align-center">
        <div class="column small-12 medium-10 large-6 u-text-center">
            <h2 class="beta u-color-white">Simplify the process with Matter.</h2>
            <h3 class="gamma u-color-white mb-4r">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Nobis voluptatem blanditiis, saepe voluptatum.</h3>
        </div>
    </div>
    <div class="row align-center">
        <div class="column small-4 u-relative">
            {{ card([1, 2], 'cloud', 'Connect to your HRIS and ATS once.', 'js-card-slide-in') }}
        </div>
        <div class="column small-4 u-relative">
            {{ card([1], 'checkmark', 'See graphs and insights over time, trends and comparison data, kept up to date, in one place.', 'js-card-slide-in', 'card__line--second') }}
        </div>
    </div>
</section>
