<footer>

  <div class="container">
    <div class="footer_in">
      <ul>
        <li><a href="/">MATTER, INC</a></li>
        <li><a href="/">BUILT INCLUSIVELY IN DC, BERKELEY and NYC</a></li>
        <li><a href="/start">CREATE YOUR DASHBOARD</a></li>
        <li class="pad_last"><a href="/start">CONTACT US</a></li>
      </ul>
    </div>
  </div>
</footer>
